@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* Global Styles for the entire app */
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul li {
  list-style-type: none;
}

thead {
  background: #c4092f;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

tbody {
  background-color: #f5f6f6;
}

td {
  color: #797979;
  font-size: 15px;
  font-weight: 300;
}




